# Build and Release Folders
bin-debug/testactionscript
bin-release/useactionscript
[Oo]bj/runactionscript
[Bb]in/getactionscript

# Other files and folders
.settings/actionscript-settings

# Executables
test.swf
gitactionscript.air
codingactionscript.ipa
appactionscript.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
